<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kelompok.kk4b">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KelompokKK4B">
        <activity android:name=".AurelActivity"></activity>
        <activity android:name=".SalsaActivity" />
        <activity android:name=".AnggerActivity" />
        <activity
            android:name=".DarikActivity"
            android:label="Darik Profile" />
        <activity
            android:name=".HomeActivity"
            android:label="Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>